<!-- Modal Adicionar Pasta -->
<div class="modal fade" id="addPastaModal" tabindex="-1" th:fragment="pastaAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h6">Adicionar Pasta</h2>
                <button aria-label="Fechar" class="btn-close" data-bs-dismiss="modal" title="Fechar" type="button"></button>
            </div>
            
            <div class="modal-body">
                <form method="POST" th:action="@{/pasta}">
                    <div class="alert alert-danger alert-dismissible fade show d-none js-div-msg-nome-pasta-modal" role="alert">
                        <i class="bi bi-exclamation-triangle me-2"></i>
                        <span class="js-span-erro-msg-nome-pasta-modal"></span>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                    <label for="pastaNome">Nome</label>
                    <input class="form-control js-input-nome-pasta-modal" id="pastaNome" type="text">
                    <div class="invalid-feedback">msg</div>
                </form>
            </div>
            
            <div class="modal-footer">
                <div class="me-auto">
                    <button class="btn btn-primary js-btn-submit-modal-pasta-salvar me-2">
                        Salvar
                    </button>
                    <button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Adicionar Pasta -->
