<!--Modal Historico de Senha-->
<div class="modal fade" id="historicoDeSenha" tabindex="-1" th:fragment="senha-historico-modal-container">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h6">Histórico de Senha</h2>
                <button aria-label="Fechar" class="btn-close" data-bs-dismiss="modal" title="Fechar" type="button"></button>
            </div>
            
            <div class="modal-body">
                <div class="js-historico-senha-container">
                    <!--É aqui que o histórico de senhas será exibido-->
                </div>
            </div>
            
            <div class="modal-footer">
                <div class="d-flex justify-content-between gap-2 w-100">
                    <button class="btn btn-lg btn-outline-light border text-black d-flex align-items-center fs-5 gap-2"
                            data-bs-target="#geradorDeSenha"
                            data-bs-toggle="modal"
                            type="button">
                        <i aria-hidden="true" class="bi bi-arrow-left fs-4"></i>
                        <span>Voltar</span>
                    </button>
                    <button class="btn btn-outline-danger fs-5 js-btn-limpar-senhas-historico" href="#" title="Limpar a lista">
                        <i aria-hidden="true" class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Historico de Senha-->
