<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns:keystow="http://keystow.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro</title>
</head>

<body>

<nav layout:fragment="top-menu" th:replace="~{fragments/nav-site :: nav-menu}"></nav>

<div class="container my-2" layout:fragment="page-content">
    <div class="row m-4">
        <div class="card col-10 col-sm-10 col-md col-lg-9 m-auto">
            
            <form class="card-cadastro row d-flex align-items-end"
                  th:action="@{/cadastro}"
                  th:method="POST"
                  th:object="${usuarioFormDto}">
                
                <h1 class="card-header h4 card-title p-4">
                    MINHA CONTA DA KEYSTOW
                </h1>
                
                <div class="card-body col-sm-7  p-4">
                    <div class="fw-bold mb-3">
                        Uma única conta para gerenciar
                        remotamente a proteção de todas as suas
                        senhas
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <a class="btn btn-lg btn-outline-dark border shadow-lg" href="#">
                            <svg th:replace="~{cadastro-google}"></svg>
                            Registre-se pelo Google
                        </a>
                        
                        <a class="btn btn-lg btn-outline-dark border shadow-lg" href="#">
                            <svg th:replace="~{cadastro-facebook}"></svg>
                            Continuar pelo Facebook
                        </a>
                    </div>
                    
                    <div class="my-4 fw-bold">Ou use seu endereço de e-mail:</div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" id="usuarioNome" keystow:classforerror="usuarioNome" placeholder="Seu primeiro nome"
                               th:field="*{usuarioNome}"
                               type="text">
                        <label for="usuarioNome">Seu primeiro nome</label>
                        <div class="form-text">
                            Como devemos chamá-lo?
                        </div>
                        <div class="invalid-feedback" th:errors="*{usuarioNome}"></div>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" id="sobrenome" placeholder="Seu sobrenome (opcional)" type="text">
                        <label for="sobrenome">Seu sobrenome (opcional)</label>
                        <div class="form-text"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" keystow:classforerror="email" placeholder="Seu endereço de e-mail"
                               th:field="*{email}"
                               type="text">
                        <label for="email">Seu endereço de e-mail</label>
                        <div class="form-text">
                            Você usará seu endereço de e-mail para fazer login
                        </div>
                        <div class="invalid-feedback" th:errors="*{email}"></div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input class="form-control js-input-visibilidade" id="senha" keystow:classforerror="senha"
                                   placeholder="Sua senha para login"
                                   th:field="*{senha}"
                                   type="text">
                            <label for="senha">Sua senha para login</label>
                        </div>
                        <button class="btn btn-outline-secondary rounded-end js-btn-olho js-btn-olho"
                                style="border: 1px solid #ced4da;"
                                type="button">
                            <i aria-hidden="true" class="bi bi-eye-slash fs-4 js-icon-tag-olho"></i>
                        </button>
                        <div class="form-text">
                            A senha mestra é a senha que você usa para acessar seu cofre. É muito importante que você não esqueça sua
                            senha mestra. Não há como recuperar a senha caso você a esqueça.
                        </div>
                        <div class="invalid-feedback" th:errors="*{senha}"></div>
                    </div>
                    
                    <div class="mb-3">
                        <div class="input-group">
                            <div class="form-floating">
                                <input class="form-control js-input-visibilidade"
                                       id="confirmacaoDeSenha"
                                       keystow:classforerror="confirmacaoDeSenha"
                                       placeholder="Repita sua senha novamente"
                                       th:field="*{confirmacaoDeSenha}"
                                       type="text">
                                <label for="confirmacaoDeSenha">
                                    Repita sua senha novamente
                                </label>
                            </div>
                            <button class="btn btn-outline-secondary rounded-end input-group-text js-btn-olho js-btn-olho"
                                    style="border: 1px solid #ced4da;"
                                    type="button">
                                <i aria-hidden="true" class="bi bi-eye-slash fs-4 js-icon-tag-olho"></i>
                            </button>
                        </div>
                        <div class="form-text">
                            Ambas as senhas devem ser iguais
                        </div>
                        <div class="invalid-feedback" th:errors="*{confirmacaoDeSenha}"></div>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" id="dicaDeSenha" placeholder="Dica de senha mestra (opcional)" type="text">
                        <label for="dicaDeSenha">Dica de senha mestra (opcional)</label>
                        <div class="form-text">
                            Uma dica de senha mestra pode ajudá-lo a lembrar sua senha caso a esqueça
                        </div>
                    </div>
                    
                    <div class="mt-2 form-check">
                        <input class="form-check-input" id="termosAndPolitica" type="checkbox">
                        <label class="form-check-label" for="termosAndPolitica">
                            Ao clicar no botão "Criar conta", você concorda com
                            as seguintes políticas:
                            <a class="text-decoration-none" href="#" target="_blank">
                                Termos de Serviço
                            </a>
                            e
                            <a class="text-decoration-none" href="#" target="_blank">
                                Política de Privacidade
                            </a>
                        </label>
                    </div>
                
                </div>
                
                <div class="col col-sm-5 pb-4">
                    <ul>
                        <li>Pelo menos 8 caracteres</li>
                        <li>Letras maiúsculas e minúsculas</li>
                        <li>Ao menos um número</li>
                        <li>Caracteres especiais válidos</li>
                        <li>As senhas correspondem</li>
                    </ul>
                </div>
                
                <div class="card-footer p-4 d-flex flex-column flex-sm-row gap-3">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Criar conta
                    </button>
                    <a class="btn btn-lg border" href="javascript:history.back()">
                        Cancelar
                    </a>
                </div>
            
            </form>
        </div>
    </div>
</div>

</body>

</html>
