<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site</title>
</head>

<body>

<nav layout:fragment="top-menu"
     th:replace="~{fragments/nav-site :: nav-menu}"></nav>

<div layout:fragment="page-content">
    
    <div>
        <header class="py-4 bg-light text-center" id="header-intro">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <div class="mt-5">
                            <img alt="Ícone da logo Keystow"
                                 class="img-fluid"
                                 th:src="@{assets/logo/keystow-logo-icon-final.svg}">
                        </div>
                        
                        <p class="h4">Criamos e armazenamos senhas difíceis de
                                      forma fácil e segura.</p>
                        
                        <p class="text-white col-12 col-lg-4 mx-auto my-3 h6 lh-base">
                            A Keystow memoriza todas as suas
                            senhas de muitos aplicativos, para que você não se
                            importar com isso.</p>
                        
                        <a class="btn btn-lg bg-primary mt-2 text-white "
                           href="/login">Entrar
                                         agora</a>
                        
                        <div class="mt-5">
                            <img alt="icon-mouse"
                                 th:src="@{assets/icons/header-mouse.svg}">
                            <img alt="icon-mao-pra-baixo"
                                 th:src="@{assets/icons/header-mao-pra-baixo.svg}">
                            <p class="text-white">Veja mais informações</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <section class="container">
            <div class="row p-5 d-flex align-items-center">
                <div class="col">
                    <h1 class="display-6 mb-4">SUA SEGURANÇA ONLINE ESTÁ EM
                                               PERIGO</h1>
                    <p>O roubo de senhas é um problema sério. Os sites e
                       aplicativos que você usa estão sendo atacados
                       diariamente. Violações de segurança ocorrem e suas
                       senhas são roubadas.</p>
                    <p>Quando você reutiliza as mesmas senhas em todos os
                       lugares, os hackers podem acessar facilmente
                       seu
                       email, banco e outras contas importantes.</p>
                </div>
                <div class="col-12 col-md-6">
                    <img alt="Imagem de um computador com uma tela de login e um escudo azul"
                         class="img-fluid"
                         th:src="@{assets/img/img-s1.svg}">
                </div>
            </div>
        </section>
        
        <section class="container-fluid section2">
            <div class="container">
                <div class="row p-5 d-flex align-items-center">
                    <div class="col-12 col-md-6 mb-5">
                        <img alt="" class="img-fluid"
                             th:src="@{assets/img/img-s2.svg}">
                    </div>
                    
                    <div class="col">
                        <h1 class="display-6 mb-4">COMO VOCÊ PODE SE MANTER
                                                   SEGURO?</h1>
                        <p>Os especialistas em segurança recomendam que você use
                           uma senha diferente e gerada
                           aleatoriamente
                           para cada conta online criada.</p>
                        <p>Mas como você deve se lembrar e acompanhar tantas
                           senhas? A Keystow ajuda você a criar e
                           gerenciar senhas seguras para que você possa voltar
                           a aproveitar sua vida online.</p>
                        <a class="btn btn bg-primary btn-lg mt-3 text-white"
                           th:href="@{/cadastro}">Criar
                                                  uma conta
                                                  gratuita</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="container">
            <div class="row p-5 d-flex align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="display-6 mb-4">REDE</h1>
                    <ul class="list-unstyled">
                        <li>📴 Preso sem nenhum dos seus dispositivos?</li>
                        <li>💻 Usando o computador de um amigo?</li>
                        <li>🌎 Você pode acessar seu cofre da Keystow a partir
                            de qualquer dispositivo habilitado para a internet,
                            usando nosso cofre da Web.
                        </li>
                    </ul>
                    <a class="btn btn bg-primary btn-lg mt-3 text-white"
                       th:href="@{/login}">Acessar
                                           meu cofre na
                                           web</a>
                </div>
                
                <div class="col-12 col-md-6 mt-5 d-flex justify-content-around">
                    <img alt="" class="img-fluid"
                         th:src="@{assets/img/img-s3.svg}">
                </div>
            </div>
        </section>
        
        <section class="container-fluid section4 contato">
            <div class="row p-5 d-flex align-items-center justify-content-center">
                
                <div class="col col-md-6 d-flex align-items-center justify-content-center flex-wrap flex-column">
                    
                    <h6 class="fs-2 text text-white mb-0 text-center">Tem
                                                                      perguntas? Nós podemos ajudar.</h6>
                    
                    <a class="btn btn-lg bg-primary text-white mt-3 d-block"
                       href="/contato">Contate-nos
                                       hoje mesmo
                        <svg height="20" viewBox="0 0 20 16"
                             width="20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V6A2.006,2.006,0,0,0,20,4Zm0,4-8,5L4,8V6l8,5,8-5Z"
                                  fill="#fff"
                                  id="ic_email_24px" transform="translate(-2 -4)"/>
                        </svg>
                    </a>
                
                </div>
            
            </div>
        </section>
    </div>
    
    <footer class="container-fluid bg-black text-white">
        <div class="container">
            <div class="row p-5 d-flex align-items-start justify-content-around">
                <div class="col-md">
                    <h3>MAPA DO SITE</h3>
                    <ul class="list-unstyled">
                        <li>Home</li>
                        <li>Entrar</li>
                        <li>Cria conta</li>
                        <li>Contato</li>
                    </ul>
                </div>
                
                <div class="col-md">
                    <h3>REDES SOCIAIS</h3>
                    <ul class="list-unstyled d-flex">
                        <li><img alt="ícone github"
                                 class="img-fluid m-3" th:src="@{assets/icons/footer-github.svg}">
                        </li>
                        <li><img alt="ícone facebook"
                                 class="img-fluid m-3"
                                 th:src="@{assets/icons/footer-facebook.svg}">
                        </li>
                        <li><img alt="ícone twitter"
                                 class="img-fluid m-3" th:src="@{assets/icons/footer-twitter.svg}">
                        </li>
                    </ul>
                </div>
                
                <div class="col-md">
                    <h3>SOBRE</h3>
                    <ul class="list-unstyled">
                        <li>
                            A keystow é um projeto desenvolvido junto ao
                            Instituto Federal de Mato Grosso do Sul criado
                            para facilitar a vida dos usuários em geral. Com
                            ele você pode gerenciar suas diversas contas de
                            modo mais seguro.
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>
    </footer>
    
    <div class="container-fluid bg-copy text-white">
        <div class="container d-flex p-4">Keystow 2018 - 2023 - Quase todos os
                                          direitos reservados
        </div>
    </div>
</div>

</body>

</html>
