.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #0d6efd !important;
}

#header-intro {
    background: url('../assets/img/bg-intro.jpg');
    background-size: contain;
}

.section2 {
    background-color: #dddddd;
}

.section4 {
    background: url('../assets/icons/s4.svg'),
    url('../assets/img/img-s4.svg') #018786;
    background-repeat: no-repeat, no-repeat;
    background-position: center right, center left;
    background-size: auto, auto;
}

.bg-copy {
    background-color: #121f84;
}

label {
    margin-bottom: 0.5rem;
}

.grupo-bg-custom-1 {
    background-color: #330066; /* Dark Purple */
}

.grupo-bg-custom-2 {
    background-color: #003366; /* Dark Blue */
}

.grupo-bg-custom-3 {
    background-color: #006633; /* Dark Green */
}

.grupo-bg-custom-4 {
    background-color: #660033; /* Dark Magenta */
}

.grupo-bg-custom-5 {
    background-color: #336600; /* Dark Forest Green */
}

.grupo-bg-custom-6 {
    background-color: #663300; /* Dark Saddle Brown */
}

.grupo-bg-custom-7 {
    background-color: #003399; /* Dark Royal Blue */
}

.grupo-bg-custom-8 {
    background-color: #339999; /* Dark Sky Blue */
}

.grupo-bg-custom-9 {
    background-color: #993300; /* Dark Orange */
}

.grupo-bg-custom-10 {
    background-color: #990033; /* Dark Red */
}

.grupo-bg-custom-11 {
    background-color: #009999; /* Dark Cyan */
}

.grupo-bg-custom-12 {
    background-color: #999900; /* Dark Lime */
}

/*
###################
# TABELA
###################
*/

/* Tabela Simples */
.tabela-simples {
    margin-top: 15px;
}

.tabela-simples table tr th {
    border-bottom-width: 1px;
}

.tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

.table-usuarios-grupos-membros {
    width: 200px;
    white-space: normal; /* Permite quebra de linha dentro da célula */
}

.table-itens-col-actions {
    width: 115px;
}

.btn > .caret,
.dropup > .btn > .caret {
    border-top-color: #000 !important;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup,
.dropdown {
    position: relative;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

@media (min-width: 0) {
    .btn .caret {
        margin-left: 0;
    }

    .btn-lg .caret {
        border-width: 5px 5px 0;
    }

    .dropup .btn-lg .caret {
        border-width: 0 5px 5px;
    }
}

.swal2-actions {
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.1em auto;
    padding: 0;
}

.swal2-icon {
    margin: 1.25em auto 1em;
}

.error-page-handler {
    font-size: 150px;
    color: #0d6efd;
    text-align: center;
    text-shadow: 1px 1px 1px #1557ba,
    2px 2px 1px #1557ba,
    3px 3px 1px #1557ba,
    4px 4px 1px #1557ba,
    5px 5px 1px #1557ba,
    6px 6px 1px #1557ba,
    7px 7px 1px #1557ba,
    8px 8px 1px #1557ba,
    25px 25px 8px rgba(21, 87, 186, 0.2);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.table-hover tbody tr:hover {
    /*cursor: pointer;*/
}

.table-hover thead tr:hover {
    /*cursor: pointer;*/
}
