<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:keystow="http://keystow.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisar Itens</title>
</head>

<body>

<nav layout:fragment="top-menu" th:replace="~{fragments/nav-app :: nav-menu}"></nav>

<div class="my-4 container" layout:fragment="page-content">
    
    <div class="row">
        
        <nav th:replace="~{fragments/nav-app-aside-lateral}"></nav>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 mb-4">
            
            <div class="card">
                
                <div class="card-header d-flex justify-content-between align-items-center p-4">
                    <h1 class="h4 card-title text-uppercase my-auto">
                        <a class="btn border me-2" href="javascript:history.back()">
                            <i aria-hidden="true" class="bi bi-arrow-left fs-4"></i>
                        </a>
                        Pesquisar Item
                    </h1>
                    <div th:replace="~{fragments/btn.html::add-all-itens}"></div>
                </div>
                
                <div class="card-body p-4 container-fluid">
                    
                    <form th:action="@{/credencial}"
                          th:if="${not objectPageWrapper.isVazia}"
                          th:method="GET"
                          th:object="${credencialFilterListDto}">
                        
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="type">Que tipo de item é este?</label>
                                <select class="form-select"
                                        id="type"
                                        keystow:classforerror="tipoDeItemDoCofre"
                                        th:field="*{tipoDeItemDoCofre}">
                                    <option value="">Selecione o tipo</option>
                                    <option th:each="tipo : ${listaDeTiposDeItens}"
                                            th:text="${tipo.descricao}"
                                            th:value="${tipo}">
                                        Tipo descrição
                                    </option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="nomeItem">Nome</label>
                                <input class="form-control" id="nomeItem" keystow:classforerror="nome" th:field="*{nome}"
                                       type="search">
                            </div>
                            
                            <div class="col">
                                <label class="form-label" for="pasta">Pasta</label>
                                <div class="d-flex">
                                    <select class="form-select" id="pasta" keystow:classforerror="pasta" th:field="*{pasta}">
                                        <option value="">Selecione a pasta</option>
                                        <option th:each="pasta : ${listaDePastasDonoUsuario}"
                                                th:text="${pasta.nome}"
                                                th:value="${pasta.id}">
                                            Nome da pasta
                                        </option>
                                    </select>
                                    
                                    <a class="d-block fs-4 ms-2 text-decoration-none"
                                       data-bs-target="#addPastaModal"
                                       data-bs-toggle="modal"
                                       href="#">
                                        <i aria-hidden="true" class="bi-plus-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary me-1" type="submit">Pesquisar</button>
                        <a class="btn btn-secondary" th:href="@{/credencial}" type="button">
                            Redefinir
                        </a>
                    </form>
                    
                    <hr class="divider my-4" th:if="${not objectPageWrapper.isVazia}"/>
                    
                    <div class="d-flex gap-2 mb-3" th:if="${not objectPageWrapper.isVazia}">
                        <button class="btn btn-outline-light border border-dark-subtle text-black js-action-btn disabled"
                                data:status="ATIVAR"
                                data:url="@{/credencial/favoritos}">
                            <span>Marcar como favorito</span>
                        </button>
                        
                        <button class="btn btn-outline-light border border-dark-subtle text-black js-action-btn disabled"
                                data:status="DESATIVAR"
                                data:url="@{credencial/favoritos}">
                            <span>Desmarcar como favorito</span>
                        </button>
                        
                        <button class="btn btn-outline-danger js-excluir-selecionados-btn disabled"
                                data:url="@{/credencial/all}">
                            <span>Excluir</span>
                        </button>
                    </div>
                    
                    <div class="table-responsive-sm" th:if="${not objectPageWrapper.isVazia}">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <label class="d-none" for="th-selecionar-todos-check"></label>
                                    <input class="form-check-input js-checkbox-selecionar-todos" id="th-selecionar-todos-check"
                                           type="checkbox"/>
                                </th>
                                <th>
                                    <keystow:order field="nome" page="${objectPageWrapper}" text="Nome"/>
                                </th>
                                <th>
                                    <keystow:order field="tipoDeItemDoCofre" page="${objectPageWrapper}" text="Tipo"/>
                                </th>
                                <th>
                                    <keystow:order field="favorito" page="${objectPageWrapper}" text="Favorito"/>
                                </th>
                                <th class="table-itens-col-actions"></th>
                            </tr>
                            </thead>
                            
                            <tbody>
                            <tr class="align-baseline" th:each="credencial : ${objectPageWrapper.getConteudo()}">
                                <td>
                                    <input class="form-check-input js-checkbox-selecionar-item-id" data:id="${credencial.id}"
                                           id="selecionar"
                                           th:id="${'selecionar-' + credencial.id}"
                                           type="checkbox">
                                </td>
                                <td>
                                    <label for="selecionar" th:for="${'selecionar-' + credencial.id}">
                                        [[${credencial.nome}]]
                                    </label>
                                </td>
                                <td>[[${credencial.tipoDeItemDoCofre.descricao}]]</td>
                                <td>
                                    <span class="badge rounded-pill"
                                          th:classappend="${credencial.favorito} ? 'text-bg-primary' : 'text-bg-secondary'">
                                        [[${credencial.favorito} ? 'Ativo' : 'Inativo']]
                                    </span>
                                </td>
                                <td>
                                    <span class="d-inline-block"
                                          data-bs-content="Editar"
                                          data-bs-placement="top"
                                          data-bs-toggle="popover"
                                          data-bs-trigger="hover"
                                          tabindex="0">
                                        <a class="btn btn-link btn-xs"
                                           th:href="@{/credencial/{id}(id=${credencial.id})}">
                                            <i class="bi bi-pencil-square fs-4"></i>
                                        </a>
                                    </span>
                                    
                                    <span class="d-inline-block"
                                          data-bs-content="Excluir"
                                          data-bs-placement="top"
                                          data-bs-toggle="popover"
                                          data-bs-trigger="hover"
                                          tabindex="0">
                                            <a class="btn btn-link btn-xs js-excluir-btn"
                                               data:objeto="${credencial.nome}"
                                               data:url="@{/credencial/{id}(id=${credencial.id})}">
                                                <i class="bi bi-trash fs-4"></i>
                                            </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div th:if="${objectPageWrapper.isVazia()}">
                        <div>
                            <i class="bi bi-info-circle me-2"></i>
                            Nenhum item encontrado
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <keystow:pagination page="${objectPageWrapper}"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="footer" th:replace="~{fragments/footer-app}"></div>

<th:block layout:fragment="js-extra">
    <script th:src="@{/js/SelecionarItemAction.js(v=${version})}"></script>
</th:block>

</body>
</html>
