<html lang="pt-br"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:each="item, stat : ${itens}">
    <div class="row mb-3 d-flex align-items-center" data:index="${stat.index}">
        
        <input class="js-input-id js-input-clipboard" id="cp-id" th:id="${'cp-id' + stat.index}"
               th:value="${item.id}"
               type="hidden">
        
        <div class="col">
            <label class="form-label" for="cp-nome" th:for="${'cp-nome' + stat.index}">Nome [[${1 + stat.index}]]</label>
            <div class="input-group">
                <input class="form-control js-input-nome js-input-clipboard" id="cp-nome"
                       th:id="${'cp-nome' + stat.index}"
                       th:name="${'cp-nome' + stat.index}"
                       th:value="${item.nome}"
                       type="text">
                <button aria-label="Copiar Valor"
                        class="btn btn-outline-secondary js-btn-copiar-valor"
                        style="border: 1px solid #ced4da;"
                        title="Copiar Valor"
                        type="button">
                    <i aria-hidden="true" class="bi-files"></i>
                </button>
            </div>
        </div>
        
        <th:block th:if="${item.getTipoDeCampoPersonalizado.name() == 'TEXTO'}">
            <div class="col">
                <label class="form-label" for="cp-valor-texto" th:for="${'cp-valor-texto' + stat.index}">Valor [[${1 + stat.index}]]</label>
                <div class="d-flex align-items-center">
                    <div class="input-group">
                        <input class="form-control js-input-valor js-input-clipboard"
                               id="cp-valor-texto"
                               th:id="${'cp-valor-texto' + stat.index}"
                               th:value="${item.valor}"
                               type="text">
                        <button aria-label="Copiar Valor"
                                class="btn btn-outline-secondary js-btn-copiar-valor"
                                style="border: 1px solid #ced4da;"
                                title="Copiar Valor"
                                type="button">
                            <i aria-hidden="true" class="bi-files"></i>
                        </button>
                    </div>
                    
                    <button aria-label="Remover"
                            class="btn btn-link text-danger ms-2 fs-4 js-excluir-campo-personalizado"
                            data:id-item-campo-personalizado="${item.id}"
                            title="Remover"
                            type="button">
                        <i aria-hidden="true" class="bi-dash-circle"></i>
                    </button>
                    
                    <button aria-label="Arrastar para ordenar"
                            class="btn btn-link text-muted cursor-move fs-4"
                            title="Arrastar para ordenar"
                            type="button">
                        <i aria-hidden="true" class="bi-list"></i>
                    </button>
                
                </div>
            </div>
        </th:block>
        
        <th:block th:if="${item.getTipoDeCampoPersonalizado.name() == 'OCULTADO'}">
            <div class="col">
                <label class="form-label" for="cp-valor-ocultado" th:for="${'cp-valor-ocultado' + stat.index}">Valor [[${1 +
                                                                                                               stat.index}]]</label>
                <div class="d-flex align-items-center">
                    <div class="input-group">
                        <input class="form-control text-monospace js-input-valor js-input-visibilidade js-input-clipboard"
                               id="cp-valor-ocultado"
                               th:id="${'cp-valor-ocultado' + stat.index}"
                               th:value="${item.valor}"
                               type="text">
                        <button aria-label="Alternar Visibilidade"
                                class="btn btn-outline-secondary js-btn-olho"
                                style="border: 1px solid #ced4da;"
                                title="Alternar Visibilidade"
                                type="button">
                            <i aria-hidden="true" class="bi bi-eye-slash js-icon-tag-olho"></i>
                        </button>
                        <button aria-label="Copiar Valor"
                                class="btn btn-outline-secondary js-btn-copiar-valor"
                                style="border: 1px solid #ced4da;"
                                title="Copiar Valor"
                                type="button">
                            <i aria-hidden="true" class="bi-files"></i>
                        </button>
                    </div>
                    
                    <button aria-label="Remover"
                            class="btn btn-link text-danger ms-2 fs-4 js-excluir-campo-personalizado"
                            data:id-item-campo-personalizado="${item.id}"
                            title="Remover"
                            type="button">
                        <i aria-hidden="true" class="bi-dash-circle"></i>
                    </button>
                    
                    <button aria-label="Arrastar para ordenar"
                            class="btn btn-link text-muted cursor-move fs-4"
                            title="Arrastar para ordenar"
                            type="button">
                        <i aria-hidden="true" class="bi-list"></i>
                    </button>
                
                </div>
            </div>
        </th:block>
        
        <th:block th:if="${item.getTipoDeCampoPersonalizado.name() == 'BOOLEANO'}">
            <div class="col">
                <label class="form-label" for="cp-valor-booleano" th:for="${'cp-valor-booleano' + stat.index}">Valor [[${1 + stat
                                                                                                               .index}]]</label>
                <div class="d-flex align-items-center">
                    <div class="flex-fill">
                        <input class="form-check-input js-input-valor" id="cp-valor-booleano" th:checked="${item.valor == 'true'}"
                               th:id="${'cp-valor-booleano' + stat.index}"
                               type="checkbox">
                    </div>
                    
                    <button aria-label="Remover"
                            class="btn btn-link text-danger ms-2 fs-4 js-excluir-campo-personalizado"
                            data:id-item-campo-personalizado="${item.id}"
                            title="Remover"
                            type="button">
                        <i aria-hidden="true" class="bi-dash-circle"></i>
                    </button>
                    
                    <button aria-label="Arrastar para ordenar"
                            class="btn btn-link text-muted cursor-move fs-4"
                            title="Arrastar para ordenar"
                            type="button">
                        <i aria-hidden="true" class="bi-list"></i>
                    </button>
                
                </div>
            </div>
        </th:block>
    
    </div>
</th:block>

<div class="mb-4 fs-6" th:if="${itens == null || itens.isEmpty()}">
    <i class="bi bi-info-circle me-2"></i>
    <span>Você ainda não adicionou nenhum campo personalizado</span>
</div>

</html>
