<div th:fragment="tooglePassword">
    <script>
        $(document).ready(function () {
            $('button[id^="btnOlho"]').click(function () {
                var senhaInput = $($(this).closest('.input-group').find('input')[0]);
                var olhoIcon = $(this).find('i');

                if (senhaInput.attr('type') === 'password') {
                    senhaInput.attr('type', 'text');
                    olhoIcon.removeClass('bi-eye-slash').addClass('bi-eye');
                } else {
                    senhaInput.attr('type', 'password');
                    olhoIcon.removeClass('bi-eye').addClass('bi-eye-slash');
                }
            });
        });
    </script>
</div>