<nav class="navbar navbar-expand-md py-3 shadow-lg text-bg-primary mb-4" th:fragment="nav-menu">
    <div class="container">
        <a class="navbar-brand" th:href="@{/app}">
            <img alt="Logo Keystow" th:src="@{/assets/logo/keystow-logo-text-branco-final.svg}">
        </a>
        
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto">
                <div class="nav-item dropdown">
                    <a aria-expanded="false"
                       class="d-flex align-items-center text-decoration-none dropdown-toggle justify-content-center text-white nav-link"
                       data-bs-toggle="dropdown"
                       href="#">
                        <i class="bi bi-person-circle fs-4 me-2"></i>
                        <strong>[[${#authentication.principal.usuario.nome}]]</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow" data-bs-offset="0, 10">
                        <li><a class="dropdown-item fw-light font-monospace d-flex align-items-center" href="#">
                            <i class="bi bi-envelope me-2 fs-5"></i>[[${#authentication.principal.usuario.email}]]</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-2 fs-5"></i>Configurações de Conta</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-lock me-2 fs-5"></i>Bloquear o Cofre</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right me-2 fs-5"></i>Encerrar Sessão
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
