<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Dica de Senha</title>
</head>

<body>

<nav layout:fragment="top-menu"
     th:replace="~{fragments/nav-app :: nav-menu}"></nav>

<div class="container my-5" layout:fragment="page-content">
    <div class="d-flex justify-content-center">
        
        <form class="card col-10 col-sm-10 col-md-7 col-lg-5">
            
            <div class="card-body p-4">
                <div class="text-center mb-2">
                    <img alt="logo keystow"
                         class="img-fluid" th:src="@{assets/logo/logo-height-black.svg}">
                </div>
                
                <div class="form-floating mt-3">
                    <input class="form-control" id="floatingInput" placeholder="name@example.com"
                           type="email">
                    <label for="floatingInput">Endereço de E-mail</label>
                    <div class="form-text" id="emailHelp">Digite o endereço de
                                                          e-mail da sua conta para receber sua dica
                                                          de senha mestra.
                    </div>
                </div>
            </div>
            
            <div class="card-footer p-4  d-flex flex-column flex-sm-row gap-3">
                <button class="btn btn-lg bg-primary text-white" type="submit">
                    Enviar
                </button>
                <a class="btn btn-lg btn-outline-primary" th:href="@{/login}">Cancelar</a>
            </div>
        
        </form>
    </div>
</div>

<div layout:fragment="footer" th:replace="~{fragments/footer-app}"></div>

</body>

</html>
