<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:keystow="http://keystow.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisar Usuários</title>
</head>

<body>

<nav layout:fragment="top-menu" th:replace="~{fragments/nav-app :: nav-menu}"></nav>

<div class="my-4 container" layout:fragment="page-content">
    
    <div class="row">
        
        <nav th:replace="~{fragments/nav-app-aside-lateral}"></nav>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 mb-4">
            
            <div class="card">
                
                <div class="card-header d-flex justify-content-between align-items-center p-4">
                    
                    <h1 class="h4 card-title text-uppercase my-auto">
                        <a class="btn border me-2" href="javascript:history.back()">
                            <i aria-hidden="true" class="bi bi-arrow-left fs-4"></i>
                        </a>
                        Pesquisar Usuários
                    </h1>
                    
                    <div th:replace="~{fragments/btn.html::add-all-itens}"></div>
                
                </div>
                
                <div class="card-body p-4 container-fluid">
                    
                    <form th:action="@{/usuario}"
                          th:if="${not objectPageWrapper.isVazia}"
                          th:method="GET"
                          th:object="${usuarioFilterListDto}">
                        
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="usuarioNome">Nome</label>
                                <input class="form-control"
                                       id="usuarioNome"
                                       keystow:classforerror="usuarioNome"
                                       th:field="*{usuarioNome}"
                                       type="search"/>
                                <div class="invalid-feedback" th:errors="*{usuarioNome}"></div>
                            </div>
                            
                            <div class="col-sm-6">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control"
                                       id="email"
                                       keystow:classforerror="email"
                                       th:field="*{email}"
                                       type="search"/>
                                <div class="invalid-feedback" th:errors="*{email}"></div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="form-group col-sm-3">
                                <label class="control-label" for="ativo">Status</label>
                                <div>
                                    <input class="js-status"
                                           data-off-color="danger"
                                           data-off-text="Inativo"
                                           data-on-color="primary"
                                           data-on-text="Ativo"
                                           id="ativo"
                                           th:field="*{ativo}"
                                           type="checkbox">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="form-group">
                                
                                <div class="form-label">Grupos</div>
                                
                                <div class="fs-6 my-3" th:if="${listaDeGruposDonoUsuario == null || listaDeGruposDonoUsuario.isEmpty()}">
                                    <i class="bi bi-info-circle me-2"></i>
                                    <span>Você ainda não adicionou nenhum grupo</span>
                                </div>
                                
                                <th:block th:each="grupo : ${listaDeGruposDonoUsuario}">
                                    <div class="form-check form-check-inline fs-5">
                                        <input class="form-check-input" id="usuarios_membros_grupos" th:field="*{grupos}"
                                               th:id="${'grupo-'+ grupo.id}"
                                               th:value="${grupo.id}"
                                               type="checkbox">
                                        <label class="form-check-label"
                                               for="usuarios_membros_grupos"
                                               th:for="${'grupo-'+ grupo.id}">
                                            [[${grupo.nome}]]
                                        </label>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        
                        <button class="btn btn-primary me-1" type="submit">Pesquisar</button>
                        <a class="btn btn-secondary" th:href="@{/usuario}" type="button">Redefinir</a>
                    </form>
                    
                    <hr class="divider my-4" th:if="${not objectPageWrapper.isVazia}"/>
                    
                    <div class="d-flex gap-2 mb-3" th:if="${not objectPageWrapper.isVazia}">
                        <button class="btn btn-outline-dark js-status-btn disabled"
                                data:status="ATIVAR"
                                data:url="@{/usuarios/status}">
                            <span>Ativar</span>
                        </button>
                        
                        <button class="btn btn-outline-dark js-status-btn disabled"
                                data:status="DESATIVAR"
                                data:url="@{/usuarios/status}">
                            <span>Desativar</span>
                        </button>
                        
                        <button class="btn btn-outline-danger js-excluir-selecionados-btn disabled"
                                data:url="@{/usuarios/all}">
                            <span>Excluir</span>
                        </button>
                    </div>
                    
                    <div class="table-responsive-sm" th:if="${not objectPageWrapper.isVazia}">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <label class="d-none" for="th-selecionar-todos-check"></label>
                                    <input class="form-check-input js-checkbox-selecionar-todos"
                                           id="th-selecionar-todos-check"
                                           type="checkbox"/>
                                </th>
                                <th>
                                    <keystow:order field="nome" page="${objectPageWrapper}" text="Nome"/>
                                </th>
                                <th>
                                    <keystow:order field="email" page="${objectPageWrapper}" text="Email"/>
                                </th>
                                <th>
                                    <keystow:order field="ativo" page="${objectPageWrapper}" text="Status"/>
                                </th>
                                <th>Grupos</th>
                                <th class="table-itens-col-actions"></th>
                            </tr>
                            </thead>
                            
                            <tbody>
                            
                            <tr class="align-baseline" th:each="usuario : ${objectPageWrapper.getConteudo()}">
                                <td>
                                    <input class="form-check-input js-checkbox-selecionar-usuario-id"
                                           data:id="${usuario.id}"
                                           id="selecionar"
                                           th:id="${'selecionar-' + usuario.id}"
                                           th:if="${#authentication.principal.usuario.id != usuario.id}"
                                           type="checkbox">
                                </td>
                                <td><label for="selecionar" th:for="${'selecionar-' + usuario.id}">[[${usuario.nome}]]</label></td>
                                <td>[[${usuario.email}]]</td>
                                <td>
                                    <span class="badge rounded-pill"
                                          th:classappend="${usuario.ativo} ? 'text-bg-primary' : 'text-bg-danger'">
                                        [[${usuario.ativo} ? 'Ativo' : 'Inativo']]
                                    </span>
                                </td>
                                <td class="table-usuarios-grupos-membros">
                                    <span class="badge grupos-badge m-1" th:each="grupo : ${usuario.grupos}">
                                        [[${grupo.nome}]]
                                    </span>
                                </td>
                                <td>
                                    <span class="d-inline-block"
                                          data-bs-content="Editar"
                                          data-bs-placement="top"
                                          data-bs-toggle="popover"
                                          data-bs-trigger="hover"
                                          tabindex="0">
                                        <a class="btn btn-link"
                                           th:href="@{/usuario/{id}(id=${usuario.id})}">
                                            <i class="bi bi-pencil-square fs-4"></i>
                                        </a>
                                    </span>
                                    
                                    <span class="d-inline-block"
                                          data-bs-content="Excluir"
                                          data-bs-placement="top"
                                          data-bs-toggle="popover"
                                          data-bs-trigger="hover"
                                          tabindex="0">
                                            <a class="btn btn-link js-excluir-btn"
                                               data:objeto="${usuario.nome}"
                                               data:url="@{/usuario/{id}(id=${usuario.id})}">
                                                <i class="bi bi-trash fs-4"></i>
                                            </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div th:if="${objectPageWrapper.isVazia()}">
                        <div>
                            <i class="bi bi-info-circle me-2"></i>
                            Nenhum usuário encontrado
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <keystow:pagination page="${objectPageWrapper}"/>
                </div>
            
            </div>
        </div>
    </div>

</div>

<div layout:fragment="footer" th:replace="~{fragments/footer-app}"></div>

<th:block layout:fragment="js-extra">
    <script th:src="@{/js/SelecionarUsuario.js(v=${version})}"></script>
    <script>
        $(document).ready(function () {
            let cores = ['custom-1', 'custom-2', 'custom-3', 'custom-4', 'custom-5', 'custom-6', 'custom-7', 'custom-8',
                'custom-9', 'custom-10', 'custom-11', 'custom-12'];
            // Embaralhar a lista de cores
            cores.sort(() => Math.random() - 0.5);

            $('.grupos-badge').each(function (index) {
                // Aplicar uma cor de forma cíclica usando o operador módulo
                $(this).addClass('grupo-bg-' + cores[index % cores.length]);
            });
        });
    </script>
</th:block>

</body>
</html>
