<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:keystow="http://keystow.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${collectionFormDto.isNew} ? 'Criar Coleção' : 'Editar Coleção'"/>
    <link rel="stylesheet" th:href="@{/vendors/easy-autocomplete/easy-autocomplete.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/easy-autocomplete/easy-autocomplete.themes.min.css}"/>
</head>

<body>

<nav layout:fragment="top-menu" th:replace="~{fragments/nav-app :: nav-menu}"></nav>

<div class="container my-4" layout:fragment="page-content">
    
    <keystow:field-errors-object fieldObject="collectionFormDto"/>
    
    <div class="row">
        
        <nav th:replace="~{fragments/nav-app-aside-lateral}"></nav>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            
            <form class="card"
                  th:action="${collectionFormDto.isNew} ? @{/collection/add} : @{/collection/{id}(id=${collectionFormDto.id})}"
                  th:method="POST"
                  th:object="${collectionFormDto}">
                
                <input id="sessionUUID" th:field="*{sessionUUID}" type="hidden"/>
                
                <input id="collectionId" th:field="*{id}" type="hidden"/>
                
                <div class="card-header d-flex flex-wrap justify-content-between align-items-center p-4">
                    <h1 class="h4 card-title text-uppercase my-auto">
                        <a class="btn border me-2" href="javascript:history.back()">
                            <i aria-hidden="true" class="bi bi-arrow-left fs-4"></i>
                        </a>
                        [[${collectionFormDto.isNew} ? 'Add Coleção' : 'Editar Coleção']]
                    </h1>
                    <div th:replace="~{fragments/btn.html::add-all-itens}"></div>
                </div>
                
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col form-group mb-3">
                            <label class="control-label form-label" for="nome">Nome</label>
                            <input class="form-control" id="nome" keystow:classforerror="nome" th:field="*{nome}" type="text">
                            <div class="invalid-feedback" th:errors="*{nome}"></div>
                        </div>
                    </div>
                    
                    <h2 class="my-2 h5 fw-bold">Acessos</h2>
                    
                    <div class="cup-container">
                        <div class="row mb-3">
                            <div class="col-sm">
                                <label class="form-label" for="search-usuarios-cup">Selecionar usuários</label>
                                <input class="form-control js-input-nome-ou-email-usuario-cup"
                                       data:url="@{/collection/cup}"
                                       id="search-usuarios-cup"
                                       placeholder="Digite o nome ou email para pesquisar"
                                       type="search">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="js-div-container-tabela-cup">
                                <th:block th:replace="~{collection/tabelaCupSession}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cgp-container mt-3 border-top pt-3">
                        <div class="row mb-3">
                            <div class="col-sm">
                                <label class="form-label" for="search-grupos-cgp">Selecionar grupos</label>
                                <input class="form-control js-input-grupo-nome-cgp"
                                       data:url="@{/collection/cgp}"
                                       id="search-grupos-cgp"
                                       placeholder="Digite o nome do grupo para pesquisar"
                                       type="search">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="js-div-container-tabela-cgp">
                                <th:block th:replace="~{collection/tabelaCgpSession}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="collection-itens-container mt-3 border-top border-bottom py-3">
                        <div class="row mb-3">
                            <div class="col-sm">
                                <label class="form-label" for="search-item-nome">Selecionar Itens</label>
                                <input class="form-control js-input-item-nome"
                                       data:url="@{/collection/item}"
                                       id="search-item-nome"
                                       placeholder="Digite o nome do item para pesquisar"
                                       type="search">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="js-div-container-tabela-itens">
                                <th:block th:replace="~{collection/tabelaCiSession}"/>
                            </div>
                        </div>
                    </div>
                
                </div>
                
                <div class="card-footer p-4 d-flex flex-column flex-sm-row gap-3">
                    <button class="btn btn-lg btn-primary" type="submit">
                        [[${collectionFormDto.isNew} ? 'Salvar' : 'Atualizar']]
                    </button>
                    <a class="btn btn-lg border" href="javascript:history.back()">
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row d-none" id="template-autocomplete-usuario-cup-tabela-session">
        <div class="d-flex justify-content-center align-items-center align-self-center">
            <i class="bi bi-person fs-5 me-2"></i>
            <span class="nome me-1"></span>(<span class="email"></span>)
        </div>
    </div>
    
    <div class="row d-none" id="template-autocomplete-grupo-cgp-tabela-session">
        <div class="d-flex justify-content-center align-items-center align-self-center">
            <i class="bi bi-people fs-5 me-2"></i>
            <span class="nome me-1"></span>
        </div>
    </div>
    
    <div class="row d-none" id="template-autocomplete-item-ci-tabela-session">
        <div class="d-flex justify-content-center align-items-center align-self-center">
            <i class="bi bi-card-list fs-5 me-2"></i>
            <span class="nome me-1"></span>
        </div>
    </div>

</div>

<div layout:fragment="footer" th:replace="~{fragments/footer-app}"></div>

<th:block layout:fragment="js-extra">
    <script th:src="@{/vendors/easy-autocomplete/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/js/Autocomplete.PesquisarUsuario.js(v=${version})}"></script>
    <script th:src="@{/js/CollectionUsuarioPermission.js(v=${version})}"></script>
    <script th:src="@{/js/Autocomplete.CollectionGrupoPermission.js(v=${version})}"></script>
    <script th:src="@{/js/Autocomplete.CollectionItem.js(v=${version})}"></script>
</th:block>

</body>
</html>
