<!DOCTYPE html>
<html lang="pt-br"
      layout:decorate="~{layout/default}"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:keystow="http://keystow.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisa Coleções</title>
</head>

<body>

<nav layout:fragment="top-menu" th:replace="~{fragments/nav-app :: nav-menu}"></nav>

<div class="my-4 container" layout:fragment="page-content">
    
    <div class="row">
        
        <nav th:replace="~{fragments/nav-app-aside-lateral}"></nav>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 mb-4">
            
            <div class="card">
                
                <div class="card-header d-flex justify-content-between align-items-center p-4">
                    <h1 class="h4 card-title text-uppercase my-auto">
                        <a class="btn border me-2" href="javascript:history.back()">
                            <i aria-hidden="true" class="bi bi-arrow-left fs-4"></i>
                        </a>
                        Pesquisar Coleções
                    </h1>
                    <div th:replace="~{fragments/btn.html::add-all-itens}"></div>
                </div>
                
                <div class="card-body p-4 container-fluid">
                    
                    <form th:action="@{/collection}"
                          th:if="${not objectPageWrapper.isVazia}"
                          th:method="GET"
                          th:object="${collectionFilterListDto}">
                        
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="nomeGrupo">Nome</label>
                                <input class="form-control"
                                       id="nomeGrupo"
                                       keystow:classforerror="nome"
                                       th:field="*{nome}"
                                       type="search">
                            </div>
                        </div>
                        <button class="btn btn-primary me-1" type="submit">Pesquisar</button>
                        <a class="btn btn-secondary" th:href="@{/collection}">Redefinir</a>
                    </form>
                    
                    <hr class="divider my-4" th:if="${not objectPageWrapper.isVazia}" type="search"/>
                    
                    <div class="table-responsive-sm" th:if="${not objectPageWrapper.isVazia}">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <keystow:order field="nome" page="${objectPageWrapper}" text="Nome"/>
                                </th>
                                <th class="table-itens-col-actions"></th>
                            </tr>
                            </thead>
                            
                            <tbody>
                            <tr class="align-baseline" th:each="collection : ${objectPageWrapper.conteudo}">
                                <td>[[${collection.nome}]]</td>
                                <td class="table-itens-col-actions">
                                    <span class="d-inline-block"
                                          data-bs-content="Editar"
                                          data-bs-placement="top"
                                          data-bs-toggle="popover"
                                          data-bs-trigger="hover"
                                          tabindex="0">
                                        <a class="btn btn-link btn-xs" th:href="@{/collection/{id}(id=${collection.id})}">
                                            <i class="bi bi-pencil-square fs-4"></i>
                                        </a>
                                    </span>
                                    <span class="d-inline-block"
                                          data-bs-content="Excluir"
                                          data-bs-placement="top"
                                          data-bs-toggle="popover"
                                          data-bs-trigger="hover"
                                          tabindex="0">
                                        <a class="btn btn-link btn-xs js-excluir-btn"
                                           data:objeto="${collection.nome}"
                                           data:url="@{/collection/{id}(id=${collection.id})}">
                                            <i class="bi bi-trash fs-4"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${objectPageWrapper.isVazia()}">
                        <div>
                            <i class="bi bi-info-circle me-2"></i>
                            Nenhuma coleção encontrada
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <keystow:pagination page="${objectPageWrapper}"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="footer" th:replace="~{fragments/footer-app}"></div>

</body>
</html>
