<html lang="pt-br"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:each="collectionGrupoPermissionDto : ${collectionGrupoPermissionDtoList}">
    
    <div class="d-flex align-items-center border-top pt-3 mt-2">
        <div class="col-sm-6">
            <div class="d-flex align-items-center">
                <i class="bi bi-people fs-3 me-2"></i>
                <div class="d-flex flex-column m-2">
                    <div>[[${collectionGrupoPermissionDto.grupoNome}]]</div>
                </div>
            </div>
        </div>
        
        <div class="col-sm">
            <label class="form-label d-none" for="cgp">Permissão</label>
            <select class="form-select" data:grupo-id="${collectionGrupoPermissionDto.grupoId}" id="cgp">
                <option th:each="permission : ${permissions}"
                        th:selected="${permission == collectionGrupoPermissionDto.getPermission}"
                        th:value="${permission}">
                    [[${permission.description}]]
                </option>
            </select>
        </div>
        
        <div class="ms-auto">
            <button aria-label="Remover"
                    class="btn btn-link text-muted ms-2 fs-4 js-excluir-collection-grupo-permission"
                    data:grupo-id="${collectionGrupoPermissionDto.grupoId}"
                    title="Remover"
                    type="button">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>

</th:block>

<div th:if="${collectionGrupoPermissionDtoList == null || collectionGrupoPermissionDtoList.isEmpty()}">
    <div class="border-top pt-3 mt-2">
        <i class="bi bi-info-circle me-2"></i>
        <span>Você ainda não adicionou nenhum grupo</span>
    </div>
</div>

</html>
