<html lang="pt-br"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:each="itemDto : ${itensDtoList}">
    
    <div class="d-flex align-items-center border-top pt-3 mt-2">
        <div class="col-sm-6">
            <div class="d-flex align-items-center">
                <i class="bi bi-card-list fs-3 me-2"></i>
                <div class="d-flex flex-column m-2">
                    <div>[[${itemDto.nome}]]</div>
                </div>
            </div>
        </div>
        
        <div class="ms-auto">
            <button aria-label="Remover"
                    class="btn btn-link text-muted ms-2 fs-4 js-excluir-collection-item"
                    data:item-id="${itemDto.id}"
                    title="Remover"
                    type="button">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>

</th:block>

<div th:if="${itensDtoList == null || itensDtoList.isEmpty()}">
    <div class="border-top pt-3 mt-2">
        <i class="bi bi-info-circle me-2"></i>
        <span>Você ainda não adicionou nenhum item</span>
    </div>
</div>

</html>
